html,
body {
  font-family: Cuprum, PT Sans, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight:normal;
  color: inherit;
  line-height:normal;
  background-image: url(../img/technomart-index.jpg);
opacity: 0.6;
background-position: 30px 0px;
filter: grayscale(0.5);

}

                                                                        /*Иконочные шрифты начало*/
@font-face {
  font-weight: normal;
  font-style: normal;

  font-family: "symbols-technomart";
  src: url("../fonts/symbols-technomart.woff") format("woff"),
       url("../fonts/symbols-technomart.woff2") format("woff2");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;

  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-technomart";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;

  speak: none;
}

.icon-left::before { content: "\3c"; } /* "&lt;" */
.icon-right::before { content: "\3e"; } /* "&gt;" */
.icon-basket::before { content: "\62"; } /* "b" */
.icon-facebook::before { content: "\66"; } /* "f" */
.icon-twitter::before { content: "\74"; } /* "t" */
.icon-vk::before { content: "\76"; } /* "v" */
.icon-up::before { content: "\2c4"; } /* "˄" */
.icon-down::before { content: "\2c5"; } /* "˅" */
.icon-left-big::before { content: "\2190"; } /* "←" */
.icon-right-big::before { content: "\2192"; } /* "→" */
.icon-login::before { content: "\2386"; } /* "⎆" */
.icon-logout::before { content: "\241b"; } /* "␛" */
.icon-up-dir::before { content: "\25b2"; } /* "▲" */
.icon-down-dir::before { content: "\25bc"; } /* "▼" */
.icon-circle::before { content: "\25cb"; } /* "○" */
.icon-circle-dot::before { content: "\25cf"; } /* "●" */
.icon-star::before { content: "\2605"; } /* "★" */
.icon-check-off::before { content: "\2610"; } /* "☐" */
.icon-check-on::before { content: "\2611"; } /* "☑" */
.icon-youtube::before { content: "\f39e"; } /* "" */
.icon-home::before { content: "🏠"; } /* "\1f3e0" */
.icon-user::before { content: "👨"; } /* "\1f468" */
.icon-phone::before { content: "📞"; } /* "\1f4de" */
.icon-instagramm::before { content: "📷"; } /* "\1f4f7" */
.icon-search::before { content: "🔍"; } /* "\1f50d" */
.icon-bookmark::before { content: "🔖"; } /* "\1f516" */
                                                                /*Иконочные шрифты конец*/
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
                                             /* Голова начало*/
.main-header{
  width: 1200px;

  background-color: #f1f5f7;
  margin: 0 auto;
}
.container{
  width: 960px;
  margin: 0 auto;
}
.main-header-top{
  background-color: #293449;
}
.main-header-top a {
  display: block;
  padding-top: 10px;
  padding-bottom: 7px;
  color: #ffffff;
  text-decoration: none;
  font-size: 17px;




}
.main-header-top .logo {
  float: left;
  width: 220px;
  font-size: 24px;
  padding-top: 9px;
  padding-bottom: 7px;
    background-color: #ee3643;
    margin-left: 10px;
    text-transform: uppercase;
    box-shadow: 0 5px 0 0 #b52933;
    text-align: center;
}
.logo:hover {
  background-color:#ca2c37;
  }
  .logo:active {
    background-color:#ba2732;
    box-shadow: 0 5px 0 0 #8e1e26;

    }
.find{
  float: left;
  position: relative;
  width: 220px;
  padding-left: 15px;
  line-height:20px;
  text-align: left;
}
.icon-search{
  padding-right: 10px;
  opacity: 0.5;
}
.find:hover {
    background-color: #212a3a;
    }
.find:hover .icon-search{
  opacity: 1;
}

.find:active {
    background-color: #ffffff;
    color: #000000;
  }
.find:active .icon-search{
      opacity: 1;
      color: #ee3643;
    }
  /*
  .sprite {
      background-image: url(spritesheet.png);
      background-repeat: no-repeat;
      display: block;
  }

  .sprite--icon-basket {
      width: 17px;
      height: 16px;
      background-position: -5px -5px;
  }

  .sprite--icon-bookmark {
      width: 14px;
      height: 16px;
      background-position: -5px -31px;
  }

  .sprite--icon-check-off {
      width: 23px;
      height: 23px;
      background-position: -5px -57px;
  }

  .sprite--icon-check-on {
      width: 27px;
      height: 23px;
      background-position: -5px -90px;
  }

  .sprite--icon-circle {
      width: 25px;
      height: 25px;
      background-position: -5px -123px;
  }

  .sprite--icon-circle-dot {
      width: 25px;
      height: 25px;
      background-position: -5px -158px;
  }

  .sprite--icon-facebook {
      width: 10px;
      height: 18px;
      background-position: -5px -193px;
  }

  .sprite--icon-home {
      width: 15px;
      height: 12px;
      background-position: -5px -221px;
  }

  .sprite--icon-instagramm {
      width: 17px;
      height: 17px;
      background-position: -5px -243px;
  }

  .sprite--icon-login {
      width: 20px;
      height: 17px;
      background-position: -5px -270px;
  }

  .sprite--icon-logout {
      width: 21px;
      height: 17px;
      background-position: -5px -297px;
  }

  .sprite--icon-phone {
      width: 19px;
      height: 19px;
      background-position: -5px -324px;
  }

  .sprite--icon-right {
      width: 8px;
      height: 12px;
      background-position: -5px -353px;
  }

  .sprite--icon-search {
      width: 17px;
      height: 17px;
      background-position: -5px -375px;
  }

  .sprite--icon-user {
      width: 20px;
      height: 18px;
      background-position: -5px -402px;
  }

  .sprite--icon-vk-copy {
      width: 20px;
      height: 12px;
      background-position: -5px -430px;
  }


  */
.share{
  float: left;
  width: 140px;
  padding-left: 15px;
  line-height:20px;
  text-align: left;
}
.icon-bookmark{
padding-right: 15px;
opacity: 0.5;
}
.share:hover {
    background-color: #212a3a;
  }
  .share:hover .icon-bookmark{
    opacity: 1;
  }
  .share:active {
      opacity: 0.3;
    }

.basket{
  float: left;
  width: 125px;
  padding-left: 30px;
  line-height:20px;
  text-align: left;
}
.icon-basket{
  padding-right: 15px;
  opacity: 0.5;
}
.basket:hover {
    background-color: #212a3a;
  }
  .basket:hover .icon-basket{
    opacity: 1;
  }
  .basket:active {
      opacity: 0.3;
    }
  .order{
  float: right;
  margin-right: 10px;
  width: 150px;
  background-color: #63a63e;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
}
.order:hover{
  background-color: #5fbb2d;
}
.order:active{
  opacity: 0.3;
}
.header-buttom{margin-top: 45px;}
.info{
  float: left;
  width: 195px;
  margin-top: -10px;
  padding-left: 60px;
  color: #ef5c67;
  font-style: italic;
  font-size: 16px;
  line-height: 22px;
  }

.contact{
  float: left;
  padding-left: 70px;
  width: 250px;

  }
.contact p{
  color: #32425c;
  font-style: normal;
  font-size: 12px;
}
.tel{
  width: 210px;
  height: 30px;
  padding-left: 10px;
  padding-top: 5px;
  padding-right: 50px;
  font-size: 21px;
  color: red;
  border: 5px solid #ffffff;
}
.icon-phone{
  padding-right: 30px;
  color: #b7bfc8;
}
.user-block{
  float: right;
  padding-right: 10px;
  max-width: 290px;
}
.enter{
  display: inline-block;
  background-color: #ffffff;
  padding-top: 10px;

  padding-bottom: 10px;
  padding-right: 30px;
  font-size: 21px;
  line-height: 23px;
  margin-right: 10px;

  color: #000000;
  text-decoration: none;
  vertical-align: top;
  border: 1px solid orange;
}
.icon-logout{
  padding-right: 5px;
  padding-left: 10px;
  opacity: 0.4;
}
.enter:hover {
  color: #ee3643;
  }
.enter:hover span{
    color: #293449;
    opacity: 1;
  }
  .enter:active {
    color: #b2b2b2;
  }
  .enter:active span{
      opacity: 0.4;
    }
.registration{
  display: inline-block;
  background-color: #ffffff;
  padding-top: 10px;
  padding-left: 15px;
  padding-bottom: 10px;
  padding-right: 25px;
  font-size: 21px;
  line-height: 23px;
  color: #000000;
  text-decoration: none;
  vertical-align: top;
  border: 1px solid orange;
}

.registration:hover {
  color: #ee3643;
  }
  .registration:active{
    color: #b2b2b2;
  }
  .user{
    float: right;
    width: 260px;
    min-height: 75px;
    padding-right: 10px;

  }
  .login{
    display: block;
    float: right;
    background-color: #ffffff;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    padding: 10px;
    text-decoration: none;
  }
  .login span{
    opacity: 0.4;
  }
  .login  .icon-user{
    padding-right: 10px;
  }
.login  .icon-login{
    padding-left:15px;
  }
  .user a:hover{
    color: #ee3643;
    }
  .user a:hover span{
      color: #293449;
      opacity: 1;
    }
    .user a:active {
      color: #b2b2b2;
    }
    .user a:active span{
        opacity: 0.4;
      }
  .user-order{
    display: block;
    float: right;
    position: relative;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 10px;
    font-size: 16px;
    line-height: 25px;
    color: #32425c;
  }

  .user-room{
    display: block;
    float: right;
    position: relative;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 10px;
    font-size: 16px;
    line-height: 25px;
    color: #32425c;
  }
  .user-room::after{
    content: "";
    position: absolute;

    border: 4px solid #32425c;
    border-radius: 50%;
    top: 8px;
    left: -20px;
  }


.main-navigation{
  display: block;
  float: left;
  margin-top: 25px;
  margin-left: 10px;

  min-height: 60px;
}
.main-navigation ul {
  margin: 0;
  margin-bottom: 60px;
  padding: 0;
  list-style: none;
  font-size: 0;
    width: 940px;
  }
.main-navigation li {
  display: inline-block;

  font-size: 17px;
 line-height: 17px;
 vertical-align: top;
}
.main-navigation a {
  background: #32425c;
  display: block;
  padding: 20px 30px;
  box-shadow: 0 5px 0 0 #293449;
  color: #ffffff;
  text-decoration: none;
}
.main-navigation li:first-child a{
  padding-left: 55px;
}
.main-navigation li:last-child a{
  padding-right: 55px;
}
.main-navigation a:hover {
  background: #293449;
}
.main-navigation a:active{
  background: #1d2739;
  box-shadow: 0 5px 0 0 #1d2739;
  color: #8e939c;
}

                                             /* Голова конец*/
                                             /* Контейнер Index  начало*/

.content{
  float: left;
  margin-top: 50px;

}
.content-little{
  position: relative;
  float: left;

  margin: 10px;
  margin-top: 12px;
  margin-left: 8px;
  width: 300px;
  min-height: 120px;

}
.content-little h2{
  float: left;
  padding-left: 25px;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;

}
.content-little img{
  float: right;
  padding-top: 25px;
  padding-right: 40px;

}
.content-little a{
  float: left;
  width: 130px;
  min-height: 25px;
  margin-left: 25px;
  background-color: rgba(0, 0,0, 0.1);
  font-size: 14px;
  line-height: 20px;
  padding-top: 10px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
}
.content-little a:hover{
    background-color: rgba(0, 0,0, 0.2);
}
.content-little a:active{
    background-color: rgba(0, 0,0, 0.3);
}

.perforator{
  float: left;
  position: relative;
  margin: 10px;
  width: 620px;
  min-height: 260px;
  background: url(../img/perf.png) no-repeat;
}

.perforator-description{
  margin-left: 25px;
  color: #ffffff;
}
.perforator-description h1{
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-bottom: -15px;
}
.perforator-description p{
  font-size: 18px;
  line-height: 24px;
}
.icon-left{
  position: absolute;
  font-size: 45px;
  color: #ffffff;
  text-decoration: none;
  top: 115px;
  left: 0px;
}
.icon-left::after{
  content: "";
  width: 6px;
  height: 6px;
  position: absolute;
  background-color: #ee3643;
  left: 295px;
  top: 105px;
  border: 3px solid #ffffff;
  border-radius: 50%;
}
.icon-right{
  position: absolute;
  font-size: 45px;
  color: #ffffff;
  text-decoration: none;
  top: 115px;
  right: 0px;
}
.icon-right::after{
  content: "";
  width: 6px;
  height: 6px;
  position: absolute;
  background-color: #ffffff;
  right: 295px;
  top: 105px;
  border: 3px solid #ffffff;
  border-radius: 50%;
}
.perf{
  position: absolute;
left: 25px;
top: 210px;
width: 160px;
}
.button{
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  background-color: #ee3643;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5px;
}
.button:hover{
  background-color: #ca2c37;
}
.button:active{
  background-color: #ba2732;
}


/*display: inline-block;
padding: 12px 45px;
font-size: 14px;
line-height: 15px;
vertical-align: top;
color: #ffffff;
text-decoration: none;
background-color: #ee3643;
text-transform: uppercase;

border-radius: 5px;*/

.material{
  background-color: #f6b22d;
}
.tool{
  background-color: #4aafde;
}
.equipment{
  background-color: #cc79d1;
}
.discounts{
  background-color: #85d179;
}
.delivery{
  background-color: #f6b22d;
}
.popular{
  float: left;
  position: relative;
  width: 950px;
  height: 90px;
  margin-top: 15px;
  background-color: #f7f3ec;
}
.popular h2{
  padding-left: 30px;
  padding-top: 10px;
  font-size: 30px;
  line-height: 30px;.
  text-decoration: none;
  text-transform: uppercase;
  color: #32425c;

}
.popular-position{
  position: absolute;
  width: 255px;
  left: 660px;
  top: 25px;

}
.products{
  float: left;
  width: 960px;
  min-height: 320px;
  margin-top: 20px;
  font-size: 0px;
}
.product{
  font-size:16px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  font-weight: 600;
  width: 218px;
  min-height: 318px;
  margin-right: 20px;
  margin-bottom: 20px;
  text-align: center;
  border: 1px solid #ccc;
}
.product:hover{
  box-shadow: 0 10px 50px 0 rgba(0,0,0,0.5);
}

.indent{
  margin-left: 20px;
  margin-right: 0px;
}
.new:before {
  position: absolute;
  top: -1px;
  right: -1px;
  z-index: 10;
  width: 60px;
  height: 60px;
  content: '';
  background: #000;
  background: url('../img/new.png') no-repeat 0 0;
}
.product .actions {
  position: absolute;
 top: 0;
 left: 0;
 width: 218px;
 height: 88px;
 padding: 40px 0;
 background-color: #fff;
}
.actions .buy,
.actions .bookmark {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 14px;
  display: block;
  width: 135px;
  margin: 0 auto 7px;
  padding: 10px 0;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  border-radius: 3px;
  background-color: #63a63e;
}
.actions .buy {
  box-shadow: inset 0 -3px 0 #367315;
}
.actions .buy:hover{
background-color: #5fbb2d;
}
.actions .buy:hover .icon-basket{
  opacity: 1;
}
.actions .buy:active{
background-color: #518534;
box-shadow: none;
}



.actions .bookmark {
  width: 129px;
  padding: 7px 0;
  color: #32425c;
  border: 3px solid #63a63e;
  background-color: #fff;
}
.actions .bookmark:hover{
  border-color: #32425c;

}
.actions .bookmark:active{
  opacity: 0.4;
}
.product .actions {
  display: none;
}
.product:hover .actions {
  display: block;
}
.product-image {
  width: 218px;
  height: 168px;
  overflow: hidden;
}

.product-image img {
  max-width: 100%;

}
.product .title {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 0 25px;
}
.product .price-old {
  min-height: 20px;
  margin-bottom: 10px;
  text-decoration: line-through;
  color: #999;
}
.product .price-new {
  position: relative;
  width: 80px;
  margin: 0 auto 20px;
  padding: 10px 30px;
  color: #fff;
  line-height: 20px;
  border-radius: 3px;
  background: #ee3643;
}
.product .price-new:after {
  position: absolute;
  top: 0;
  right: -20px;
  width: 0;
  height: 0;
  content: '';
  border: 20px solid #fff;
  border-left-color: #ee3643;
}
.manufacturers{
  float: left;
  width: 960px;
  min-height: 330px;
}
.manufacturer{
  float: left;
  width: 218px;
  min-height: 148px;
  margin: 10px;
  border: 1px solid #e7e7e7;
}
.manufacturer:hover{
  box-shadow: 0 10px 25px 0 rgba(0,0,0,0.5);
}
.manufacturer:active{
  opacity: 0.4;
}
.bosch img{
  padding-top: 50px;
  padding-left: 45px;
}
.makita img{
  padding-top: 50px;
  padding-left: 45px;
}
.dewalt img{
  padding-top: 50px;
  padding-left: 35px;
}
.interskol img{
  padding-top: 30px;
  padding-left: 9px;
}
.hitachi img{
  padding-top: 58px;
  padding-left: 25px;
}
.lg img{
  padding-top: 37px;
  padding-left: 48px;
}
.aeg img{
  padding-top: 26px;
  padding-left: 33px;
}
.metabo img{
  padding-top: 40px;
  padding-left: 7px;
}
.background-services{
  margin-top: 90px;
  background-color: #f2f6f8;

}
.services{
  float: left;
  position: relative;
  width: 960px;
  min-height: 520px;
}
.shadow{
  position: absolute;
  left:230px;
  top: 160px;
}
.slider-controls{
  display: block;
  float: left;
  margin-top: 75px;
}

.slider-controls label{
  display: block;
  width: 215px;
  font-size: 21px;
  line-height: 30px;
  padding-top:10px;
  padding-left: 25px;
  padding-bottom: 20px;
  cursor: pointer;
  background-color: #32425c;
  color: #ffffff;
}
.slider-controls label:hover{
  background-color: #293449;
}
.slider-controls label:active{
  background-color: #293449;
  opacity: 1;
}

.slide {
  display: none;
  position: relative;
}
#btn-1:checked ~ .slider #slide1,
#btn-2:checked ~ .slider #slide2,
#btn-3:checked ~ .slider #slide3 {
  display: block;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
  background-color: #ffffff;
  color: #32425c;
}
.slide-description{
  float: left;
  margin-top: 75px;
  margin-left: 80px;
  width: 280px;
}
.slide-img {
  position: absolute;
  right: 0px;
  top: 75px;
}
.slide-btn{
  display: inline-block;
  padding: 12px 45px;
  font-size: 14px;
  line-height: 15px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  background-color: #ee3643;
  text-transform: uppercase;
  border-radius: 5px;
}



.company{
  float: left;
  width: 560px;
  margin-top: 80px;
}
.company h2{
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}
.company p{
  width: 525px;
  font-size: 13px;
  line-height: 25px;
}
.company ul{
  list-style: none;
}

.company li{
  position: relative;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  padding-top: 20px;
}
.company li::before{
  content: "";
  width: 30px;
  position: absolute;
  left: -40px;
  top: 27px;
  border: 1px solid red;
}
.company .button{
  width: 220px;
  margin-top: 40px;
  margin-bottom: 90px;
  text-align: center;
}

.contacts{
  float: right;
  width: 330px;
  height: 380px;
  margin-top: 80px;
}
.contacts h2{
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}
.contacts p{
  width: 200px;
  font-size: 13px;
  line-height: 25px;
}
.contacts img{
  padding-top: 45px;
}
.contacts .button{
  width: 300px;
  margin-top: 20px;
  text-align: center;
}
                                             /* Контейнер Index конец*/
                                             /* Подвал начало*/
.main-footer{
  background-color: #32425c;
  min-height: 195px;
}
.footer-top a:hover{
  text-decoration: underline;
}
.footer-top a:active{
  text-decoration: none;
  opacity: 0.7;
}

.footer-top .logo{
  display: inline-block;
    background-color: #ee3643;
    margin-left: 10px;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    text-decoration: none;
}
.footer-top .logo:hover {
  background-color:#ca2c37;
  text-decoration: none;;
  }
.footer-top .logo:active {
    background-color:#ba2732;
    box-shadow: 0 5px 0 0 #8e1e26;
    text-decoration: none;
    }
.footer-button-1{
  display: inline-block;
  margin-top: 10px;
  margin-left: 95px;
  width: 630px;

}
.footer-button-1 ul {
  padding: 0;
  list-style: none;
}

.footer-button-1 li {
  display: inline-block;
  vertical-align: top;
  padding-left: 60px;
  font-size: 18px;
  text-align: 24px;
}
.footer-button-1 a {
  font-size: 18px;
  text-align: 24px;
  text-decoration: none;
  color: #fff;
}
.address{
  display: inline-block;
  width: 320px;
  margin-top: 20px;
  min-height: 24px;
  font-size: 18px;
  text-align: 24px;
  color: #fff;
}
.footer-button-2{
  display: inline-block;
  vertical-align: top;
  margin-top: 20px;
  margin-left: 15px;
  width: 615px;
}
.footer-button-2 ul {
  padding: 0;
  list-style: none;
}

.footer-button-2 li {
  display: inline-block;
  vertical-align: top;
  padding-left: 60px;
  font-size: 18px;
  text-align: 24px;
}
.footer-button-2 a {
  font-size: 18px;
  text-align: 24px;
  text-decoration: none;
  color: #ffd180;
}
.footer-bottom{
  background-color: #293449;
  min-height: 105px;
  font-size: 16px;
  text-align: 18px;
  color: #fff;
}
.footer-contacts{
  float: left;
  width: 240px;
  margin-top: 40px;
}
.footer-social{
  float: left;
  width: 200px;
  margin-left: 150px;
  margin-top: 35px;
  }
.social-btn{
  display: block;
  float: left;
  margin-left: 5px;
  font-size: 0;
  border-radius: 50%;
  background-color: #212a3a;
  border: 4px solid #212a3a;
}
.social-btn:hover{
  background-color: #ee3643;
  border: 4px solid #ee3643;
}
.social-btn:active{
  background-color: #ee3643;
  border: 4px solid #ee3643;
}
.social-btn-vk{
  background-image:url(../img/sprite.png);
  background-position: 0px -420px;
  width: 32px;
  height: 32px;
}
.social-btn-fb{
  background-image:url(../img/sprite.png);
  background-position: 5px -185px;
  width: 32px;
  height: 32px;
}
.social-btn-inst{
  background-image:url(../img/sprite.png);
  background-position: 2px -235px;
  width: 32px;
  height: 32px;
}
.footer-communication{
  float: right;;
  width: 160px;
}
.footer-copyright{
  float: right;;
  width: 160px;
}
.yellow{
  color: #ffd180;
}
.footer-bottom .yellow:hover{
  text-decoration: underline;
}
.footer-bottom .yellow:active{
  text-decoration: none;
  color: #c73644;
}
                                             /* Подвал конец

                                             /* Свойства каталога начало*/
.breadcrumbs {
  position: relative;
  margin: 0;
  margin-left: 20px;
  margin-top: 25px;
  padding: 0;
  list-style: none;
}
.breadcrumbs li {
  position: relative;
  display: inline;
  text-transform: uppercase;
  margin-right: 40px;
}
.breadcrumbs a {
  color: #000000;
  text-decoration: none;
}
.breadcrumbs a:hover {
  text-decoration: underline;
}
.breadcrumbs li::before {
  content: "";
  position: absolute;
  background-image:url(../img/.icon-right.png);
  width: 8px;
  height:12px;
  top: 4px;
  left: -20px;
}
.breadcrumbs ul::before{
  content: "";
  position: absolute;
  background-image:url(../img/.icon-home.png);
  width: 15px;
  height:12px;
  top: 4px;
  left: -10px;
}
                                           /* Свойства  Catalog содержание начало*/


.filter{
  float: left;
  width: 220px;
  min-height: 1300px;

}
.filter p{
  width: 200px;
  font-size: 13px;
  line-height: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  text-transform: uppercase;
  background-color: #f7f3ec;
}
form{
  margin-left: -10px;
}
                                           /* Фильтр начало*/
.range-filter {
  width: 220px;


}

.range-controls {
  position: relative;
  height: 41px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 30px;
  margin-bottom: 15px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background: #f7f3ec;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 4px;
  height: 4px;
  cursor: pointer;
  border: 8px solid #fff;
  border-radius: 50%;
  background: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .toggle-min {
  left: 30px;
}

.range-controls .toggle-max {
  left: 140px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  font-size: 16px;
  display: inline-block;
  width: 50%;
}

.max-price {
  text-align: right;
}

.price-controls input {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  width: 75px;

  padding: 8px 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  outline: none;
  background: #f7f3ec;
}


                                           /* Фильтр конец*/
.selection h2{
  width: 220px;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;

}
.selection h2:nth-of-type(3){
  border-top: 1px solid #e5e5e5;
}
fieldset{
  border: none;
  margin-bottom: 15px;
}
legend{
  font-size: 17px;
  text-transform: uppercase;
  margin-top: 20px;
}
input[type="checkbox"]{
  display: none;
}
input[type="checkbox"]+label{
  display: block;
  margin: 10px 0;
  line-height: 20px;
  padding-top: 10px;
  padding-left: 45px;
  position: relative;
  cursor: pointer;
}


input[type="checkbox"]+label::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 5px;
    background-image:url(../img/sprite.png);
    width: 23px;
    height: 23px;
    background-position: -5px -57px;
    opacity: 0.6;
}
input[type="checkbox"]+label:hover::before{
  opacity: 1;
}
label:active{
  opacity: 0.3;
}


input[type="checkbox"]:checked+label::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 5px;
    background-image:url(../img/sprite.png);
    width: 27px;
    height: 23px;
    background-position: -5px -90px;
}
input[type="radio"]{
  display: none;
}
input[type="radio"]+label{
  display: block;
  margin: 10px 0;
  line-height: 20px;
  padding-top: 10px;
  padding-left: 45px;
  position: relative;
  cursor: pointer;
  text-transform: uppercase;
}
input[type="radio"]+label::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    background-image:url(../img/sprite.png);
    width: 25px;
    height: 25px;
    background-position: -5px -123px;
    opacity: 0.6;
}
input[type="radio"]+label:hover::before{
  opacity: 1;
}

input[type="radio"]:checked+label::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    background-image:url(../img/sprite.png);
    width: 25px;
    height: 25px;
    background-position: -5px -158px;
}
.selection-button{
  margin-top: 70px;
  font-size: 13px;
  line-height: 15px;
  padding: 10px 40px;
  text-transform: uppercase;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}
.selection-button:hover{
  background-color: red;
}
.sorting{
  float: right;
  width: 700px;
  min-height: 40px;
  margin-top: 20px;


}

.sorting p{
  display: block;
  float: left;
  margin-top: 10px;
  width: 155px;
  font-size: 13px;
  line-height: 15px;
  padding-left: 20px;
  text-transform: uppercase;
}
.sorting a{
  float: left;
  font-size: 13px;
  line-height: 15px;
  padding-top: 10px;
  margin-left: 70px;
  text-transform: uppercase;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);

}
.sorting-border{
  border-bottom: 1px dotted #ee3643;
  background-color: #ffffff;
}
.sorting a:hover{
  color: rgba(0, 0, 0, 1);
}
.sorting-border:hover {
  border-bottom: 1px solid #ee3643;
}
.sorting a:focus{
  color: red;
}
.sorting-border:focus {
  border-bottom: none;
}
.sorting .sorting-up{
  margin-left: 50px;

}
.icon-up-dir{
  font-size: 21px;

}
.icon-down-dir{
  margin-left: -20px;
  font-size: 21px;
}
.sorting .sorting-down{
  margin-left: 20px;
}
.catalog-products{
  float: right;
  width: 710px;
  font-size: 0px;
}
 .product:nth-child(3n+3){
  margin-right: 0;
}
.pagination{
  float: left;
  margin-top: 55px;
}
.pagination a{
  display: block;
  float: left;
  width: 40px;
  height: 30px;
  margin-right: 10px;
  padding-top: 10px;
  font-size: 13px;
  line-height: 20px;
  text-decoration: none;
  text-align: center;
  color: #000000;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
}
.pagination .lardge{
  width: 140px;
}

.button-small:hover{
  border: 1px solid #bdc6ca;
}
.button-small:active{
  border: 1px solid #ee3643;
}
.button-small:focus{
  background-color: #ee3643;
}




.information{
  background-color: #f2f6f8;
  font-family: Cuprum, PT Sans, sans-serif;
}

.information h1{
  padding-top: 60px;
}
.information p{
  padding-bottom: 70px;
  padding-right: 50px;
  font-size: 13px;
  text-align: 24px;

}
/* Свойства  Catalog содержание конец*/
  /* Свойства каталога конец*/
   /* Модальные окна*/
.modal-content {
  position: absolute;
  top: 2590px;
  left: 30%;
  width: 620px;
  min-height: 330px;
  display: none;
  color: #000000;
  background-color: #ffffff;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}
.modal-content-header{
  height: 10px;
  background-color: #ee3643;
}
.modal-content-main{
  min-height: 315px;
  position: relative;
}
.modal-content-main form {
    margin: 0 auto;
    padding-top: 50px;
    width: 460px;
}
.modal-content-main fieldset {
    padding: 0px;
}
.modal-content-main label {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
}
.modal-content-main input {
    margin-bottom: 20px;
    padding: 2px 5px;
    width: 210px;
    height: 36px;
    border: 2px solid #ccc;
    border-radius: 5px;
    vertical-align: middle;
}


.modal-content-main textarea {
    padding: 15px;
    width: 426px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}
.modal-content-main input[type="submit"] {
    display: inline-block;
    position: absolute;
    top: 350px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: 15px;

    width: 460px;
    min-height: 40px;
    border: none;
    border-radius: 5px;
    background: #ee3643;
    color: #fff;
}
.half-width {
    width: 50%;
    display: inline-block;
    margin-right: -2px;
}

.modal-content-footer{
  height: 115px;
  background-color: #f1f1f1;
}
.modal-content-close {
  position: absolute;
  top: 0;
  right: -34px;
  width: 22px;
  height: 22px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.modal-content-close::before,
.modal-content-close::after {
  content: "";
  position: absolute;
  top: 30px;
  left: -50px;

  width: 30px;
  height: 6px;
  background-color: #ee3643;
  border-radius: 1px ;
}

.modal-content-close::before {
  transform: rotate(45deg);
}

.modal-content-close::after {
  transform: rotate(-45deg);
}
.modal-content-map {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -280px;
  margin-left: -490px;
  width: 940px;
  height: 450px;
  border: 1px solid orange;
  box-shadow: 0 0px 50px rgba(0, 0, 0, 0.7);

  background: #e9e5dc url("img/map.png");
}
.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.5);
}
